In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.27)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [72]:
import sqlalchemy as db
engine = db.create_engine('sqlite:///mydb.db')

In [73]:
conn = engine.connect()

In [74]:
metadata = db.MetaData()

In [75]:
sportsmens = db.Table(
    'Sportsmens', metadata,
    db.Column('sportsmen_id', db.Integer, primary_key=True, autoincrement=True),
    db.Column('first_name',db.String),
    db.Column('last_name',db.String),
    db.Column('place',db.Integer),
    db.Column('category',db.Integer, db.ForeignKey('Categories.category_id')),
    db.Column('age',db.Integer)
)

categories = db.Table(
    'Categories', metadata,
    db.Column('category_id', db.Integer, primary_key=True,autoincrement=True),
    db.Column('name',db.String),
    db.Column('count_sportsmens',db.Integer)
)

In [76]:
metadata.create_all(engine)

In [77]:
insertion_1 = sportsmens.insert().values([
    {'first_name': 'Oleg', 'last_name': 'Popov', 'place': 3, 'category': 1, 'age': 19 },
    {'first_name': 'Geo', 'last_name': 'Lan', 'place': 1, 'category': 1, 'age': 16},
    {'first_name': 'Dio', 'last_name': 'Fu', 'place': 2, 'category': 1, 'age': 35},
    {'first_name': 'Nikita', 'last_name': 'Kravets', 'place': 2, 'category': 2, 'age': 17 },
    {'first_name': 'Oleg', 'last_name': 'Dmitriev', 'place': 3, 'category': 2, 'age': 43} ,
    {'first_name': 'Alex', 'last_name': 'Nad', 'place': 1, 'category': 2, 'age': 20}
])

In [78]:
conn.execute(insertion_1)

In [79]:
insertion_2 = categories.insert().values([
    {'name': 'Before 75kg', 'count_sportsmens': 15 },
    {'name': 'After 75kg', 'count_sportsmens': 53 },
])

In [80]:
conn.execute(insertion_2)

In [81]:
select_all_query = db.select(sportsmens)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Oleg', 'Popov', 3, 1, 19),
 (2, 'Geo', 'Lan', 1, 1, 16),
 (3, 'Dio', 'Fu', 2, 1, 35),
 (4, 'Nikita', 'Kravets', 2, 2, 17),
 (5, 'Oleg', 'Dmitriev', 3, 2, 43),
 (6, 'Alex', 'Nad', 1, 2, 20)]

In [82]:
select_all_query = db.select(categories)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Before 75kg', 15), (2, 'After 75kg', 53)]

## **HAVING**

In [84]:
query_having = db.select(sportsmens).group_by(sportsmens.c.sportsmen_id).having(db.func.max(sportsmens.c.age)>20)
result = conn.execute(query_having)
result.fetchall()

[(3, 'Dio', 'Fu', 2, 1, 35), (5, 'Oleg', 'Dmitriev', 3, 2, 43)]

# **JOIN LEFT**

In [87]:
query_join_left = db.select(sportsmens.c.first_name, categories.c.name).select_from(
    db.outerjoin(sportsmens, categories, sportsmens.c.category == categories.c.category_id))

In [88]:
result_join_left = conn.execute(query_join_left)
result_join_left.fetchall()

[('Oleg', 'Before 75kg'),
 ('Geo', 'Before 75kg'),
 ('Dio', 'Before 75kg'),
 ('Nikita', 'After 75kg'),
 ('Oleg', 'After 75kg'),
 ('Alex', 'After 75kg')]

# **INNER JOIN**

In [92]:
query_inner_join = db.select(sportsmens, categories).select_from(db.join(sportsmens, categories, sportsmens.c.category == categories.c.category_id))
result_inner_join = conn.execute(query_inner_join)
result_inner_join.fetchall()

[(1, 'Oleg', 'Popov', 3, 1, 19, 1, 'Before 75kg', 15),
 (2, 'Geo', 'Lan', 1, 1, 16, 1, 'Before 75kg', 15),
 (3, 'Dio', 'Fu', 2, 1, 35, 1, 'Before 75kg', 15),
 (4, 'Nikita', 'Kravets', 2, 2, 17, 2, 'After 75kg', 53),
 (5, 'Oleg', 'Dmitriev', 3, 2, 43, 2, 'After 75kg', 53),
 (6, 'Alex', 'Nad', 1, 2, 20, 2, 'After 75kg', 53)]

# **UNION**

In [93]:
query_name = db.select(sportsmens.c.first_name,sportsmens.c.last_name)
query_category = db.select(categories.c.name, categories.c.count_sportsmens)

In [98]:
query_union = db.union_all(query_name, query_category)
result = conn.execute(query_union)
result.fetchall()

[('Oleg', 'Popov'),
 ('Geo', 'Lan'),
 ('Dio', 'Fu'),
 ('Nikita', 'Kravets'),
 ('Oleg', 'Dmitriev'),
 ('Alex', 'Nad'),
 ('Before 75kg', 15),
 ('After 75kg', 53)]

#**Подзопросы**

In [103]:
subquery = db.select(categories.c.category_id).where(categories.c.name == "After 75kg")
query = db.select(sportsmens).where(sportsmens.c.category.in_(subquery))
result_request = conn.execute(query)
result_request.fetchall()

[(4, 'Nikita', 'Kravets', 2, 2, 17),
 (5, 'Oleg', 'Dmitriev', 3, 2, 43),
 (6, 'Alex', 'Nad', 1, 2, 20)]